EXPO_PUBLIC_SUPABASE_URL=https://ynfqpwmzhsmkhltyugow.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InluZnFwd216aHNta2hsdHl1Z293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1MDY0NjcsImV4cCI6MjEwNTA4MjQ2N30.VIrJI3eIagbYGkpgcNeAG7fNksLQpnYW0MEk83DIt5w
